button {
  font-size: 20px;
  padding: 10px 5px;
  background-color: aquamarine;
}

body {
  background-color: black;
  color: white;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff,
    0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

p {
  color: yellow;
  font-variant: small-caps;
  font-size: 34px;
  text-align: center;
}

p {
  background-color: #111;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
  text-shadow: 0 0 15px #fff;
  animation: neon 1.5s ease-in-out infinite alternate;
}

button {
  background-color: #ff6ec7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 0 10px #ff6ec7;
}

h2 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff,
    0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
